			<aside class="col-md-3">
				<nav class="nav flex-column">
					<ul class="list-group">
						<li class="nav-item list-group-item list-group-item-fall">Fall 2017</li>
						<?php
							if($active == "index") {
								echo '<li class="nav-item list-group-item active-fall">Editorial</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="index.php">Editorial</a></li>';
							}
							if($active == "ghoul") {
								echo '<li class="nav-item list-group-item active-fall">Ghoul</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="ghoul.php">Ghoul</a></li>';
							}
							if($active == "revelations") {
								echo '<li class="nav-item list-group-item active-fall">Revelations of Recovery</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="revelations.php">Revelations of Recovery</a></li>';
							}
							if($active == "him") {
								echo '<li class="nav-item list-group-item active-fall">It\'s Him</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="him.php">It\'s Him</a></li>';
							}
							if($active == "neglected") {
								echo '<li class="nav-item list-group-item active-fall">The Neglected</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="neglected.php">The Neglected</a></li>';
							}
							if($active == "talk") {
								echo '<li class="nav-item list-group-item active-fall">If Walls Could Talk</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="talk.php">If Walls Could Talk</a></li>';
							}
							if($active == "illusion") {
								echo '<li class="nav-item list-group-item active-fall">The Grand Illusion</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="illusion.php">The Grand Illusion</a></li>';
							}
							if($active == "twelve") {
								echo '<li class="nav-item list-group-item active-fall">Twelve Months</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="twelve.php">Twelve Months</a></li>';
							}
							if($active == "dream") {
								echo '<li class="nav-item list-group-item active-fall">Dream Accelerator</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="dream.php">Dream Accelerator</a></li>';
							}
							if($active == "motar") {
								echo '<li class="nav-item list-group-item active-fall">Motar the Magnificent</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="motar.php">Motar the Magnificent</a></li>';
							}
							if($active == "bump") {
								echo '<li class="nav-item list-group-item active-fall">Things that go Bump in the Night</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="bump.php">Things that go Bump in the Night</a></li>';
							}
						?>
					</ul>
				</nav>
				<nav class="nav flex-column">
					<ul class="list-group">
						<li class="nav-item list-group-item list-group-item-fall">Back Issues</li>
						<li class="nav-item list-group-item"><a href="spring_2017/">Spring 2017</a></li>
						<li class="nav-item list-group-item"><a href="summer_2017/">Summer 2017</a></li>
					</ul>
				</nav>
				<nav class="nav flex-column">
					<ul class="list-group">
						<li  class="nav-item list-group-item list-group-item-fall">General Links</li>
						<?php
							if($active == "about") {
								echo '<li class="nav-item list-group-item active-fall">About</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="about.php">About</a></li>';
							}
							if($active == "guidelines") {
								echo '<li class="nav-item list-group-item active-fall">Guidelines</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="guidelines.php">Guidelines</a></li>';
							}
							if($active == "contact") {
								echo '<li class="nav-item list-group-item active-fall">Contact Us</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="contactform.php">Contact Us</a></li>';
							}
						?>
						
						
					</ul>
				</nav>
			</aside>
