			<aside class="col-md-3">
				<nav class="nav flex-column">
					<ul class="list-group">
            <li class="nav-item list-group-item list-group-item-fall">Fall 2020</li>
            <li class="nav-item list-group-item">
              Come back on October 31, 2020!</a>
            </li>
					</ul>
				</nav>
				<nav class="nav flex-column">
					<ul class="list-group">
						<li class="nav-item list-group-item list-group-item-fall">Back Issues</li>
						<li class="nav-item list-group-item"><a href="spring_2017/">Spring 2017</a></li>
            <li class="nav-item list-group-item"><a href="summer_2017/">Summer 2017</a></li>
            <li class="nav-item list-group-item"><a href="fall_2017/">Fall 2017</a></li>
					</ul>
				</nav>
				<nav class="nav flex-column">
					<ul class="list-group">
						<li  class="nav-item list-group-item list-group-item-fall">General Links</li>
						<?php
							if($active == "about") {
								echo '<li class="nav-item list-group-item active-fall">About</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="about.php">About</a></li>';
							}
							if($active == "guidelines") {
								echo '<li class="nav-item list-group-item active-fall">Guidelines</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="guidelines.php">Guidelines</a></li>';
							}
							if($active == "contact") {
								echo '<li class="nav-item list-group-item active-fall">Contact Us</li>';
							} else {
								echo '<li class="nav-item list-group-item"><a href="contactform.php">Contact Us</a></li>';
							}
						?>
						
						
					</ul>
				</nav>
			</aside>
