	<header class="container-fluid">
		<nav class="nav fixed-top bg-faded">
			<a class="navbar-brand" href="/">Nimue's Grotto</a>		
			<a class="nav-link active" href="index.php">Home</a>
			<a class="nav-link" href="/about.php">About</a>
			<a class="nav-link" href="/guidelines.php">Guidelines</a>
			<a class="nav-link" href="/contactform.php">Contact Us</a>
		</nav>
	</header>
	<section class="container-fluid">
		<section class="row">
			<img class="img-fluid" src="img/nimue_hdr.jpg" alt="Grotto Header">
		</section>
		<section class="row">
			<div class="col-md-12">
				<h1 class="display-1 text-center">Nimue's Grotto</h1>
			</div>
		</section>
	</section>
